block content
    // ***** Breadcumb Area Start *****
    .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
    .container.h-100
        .row.h-100.align-items-center
        .col-12
            .bradcumbContent
            h2 About Us
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Read Our History
    // ***** Breadcumb Area End *****
    // ***** About Us Area Start *****
    section.mosh-aboutUs-area.section_padding_100_0
    .container
        .row.align-items-center
        .col-12.col-md-6
            .mosh-about-us-content
            .section-heading
                p Features
                h2 What you get if you start your business with us
            p
                | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul. Nec odio vestibulum est mattis effic iturut magna. Pellente sque sita met tellus blandit. Etiam nec odio. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.
            a.btn.mosh-btn.mt-50(href='#') Read More
        .col-12.col-md-6
            .mosh-about-us-thumb.wow.fadeInUp(data-wow-delay='0.5s')
            img(src='img/bg-img/headpiece.png', alt='')
    // ***** About Us Area End *****
    // ***** Features Area Start *****
    section.mosh-about-features-area.section_padding_100
    .container
        .row.align-items-center
        .col-12.col-md-4
            .mosh-features-thumb.wow.fadeIn(data-wow-delay='0.5s')
            img(src='img/bg-img/features-2.png', alt='')
        .col-12.col-md-8
            .mosh-about-us-content
            .section-heading
                p Features
                h2 Fun facts about the team and why people love us
            .row
                // Single Feature Area
                .col-12.col-sm-6
                .single-feature-area.d-flex
                    .feature-icon.mr-30
                    img(src='img/core-img/settings-2.png', alt='')
                    .feature-content
                    h5 A big team
                    p Etiam nec odio vestibulum est mat tis effic iturut magna.
                // Single Feature Area
                .col-12.col-sm-6
                .single-feature-area.d-flex
                    .feature-icon.mr-30
                    img(src='img/core-img/photo-camera.png', alt='')
                    .feature-content
                    h5 Photo enthuziast
                    p Etiam nec odio vestibulum est mat tis effic iturut magna.
                // Single Feature Area
                .col-12.col-sm-6
                .single-feature-area.d-flex
                    .feature-icon.mr-30
                    img(src='img/core-img/like.png', alt='')
                    .feature-content
                    h5 30k Followers
                    p Etiam nec odio vestibulum est mat tis effic iturut magna.
                // Single Feature Area
                .col-12.col-sm-6
                .single-feature-area.d-flex
                    .feature-icon.mr-30
                    img(src='img/core-img/gamepad.png', alt='')
                    .feature-content
                    h5 We love gaming
                    p Etiam nec odio vestibulum est mat tis effic iturut magna.
            a.btn.mosh-btn.mt-50(href='#') Read More
    // ***** Features Area End *****
    // ***** Few Words Area Start *****
    section.few-words-from-ceo.d-md-flex
    .few-words-contents.d-flex.align-items-center.justify-content-center.wow.fadeInLeftBig(data-wow-delay='0.1s')
        .container-fluid
        .row.justify-content-center
            .col-12.col-md-11.col-lg-9.col-xl-7
            .few-words-text
                .section-heading
                p Features
                h2 Fun facts about the team and why people love us
                p
                | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul. Nec odio vestibulum est mattis effic iturut magna. Pellente sque sita met tellus blandit. Etiam nec odio.
                .ceo-meta-data.d-flex.align-items-center.mt-50
                .ceo-thumb.bg-img(style='background-image: url(img/bg-img/ceo.jpg);')
                .ceo-name
                    h6 Jim Morison
                    p Company CEO
    .few-words-thumb.bg-img.wow.fadeInRightBig(data-wow-delay='1.1s', style='background-image: url(img/bg-img/cta-2.jpg);')
    // ***** Few Words Area End *****
    // ***** Team Area Start *****
    section.mosh-team-area.section_padding_100
    .container
        .row.justify-content-center
        .col-12.col-md-10
            .section-heading.text-center
            p Clients
            h2 Meet Our Incredible Team
            h5.mt-30
                | Est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.
        .row
        .col-12
            .mosh-team-slides.owl-carousel
            // Single Team Slide
            .single-team-slide.text-center
                // Thumbnail
                .team-thumbnail
                img(src='img/bg-img/c-1.jpg', alt='')
                // Meta Info
                .team-meta-info
                h4 Christine Smith
                span CEO Company
                p Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque.
                // Social Info
                .team-social-info
                a(href='#')
                    i.fa.fa-pinterest(aria-hidden='true')
                a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')
                a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')
                a(href='#')
                    i.fa.fa-dribbble(aria-hidden='true')
            // Single Team Slide
            .single-team-slide.text-center
                // Thumbnail
                .team-thumbnail
                img(src='img/bg-img/c-2.jpg', alt='')
                // Meta Info
                .team-meta-info
                h4 William Donovan
                span digital designer
                p Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque.
                // Social Info
                .team-social-info
                a(href='#')
                    i.fa.fa-pinterest(aria-hidden='true')
                a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')
                a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')
                a(href='#')
                    i.fa.fa-dribbble(aria-hidden='true')
            // Single Team Slide
            .single-team-slide.text-center
                // Thumbnail
                .team-thumbnail
                img(src='img/bg-img/c-3.jpg', alt='')
                // Meta Info
                .team-meta-info
                h4 Michael Kellog
                span Developer
                p Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque.
                // Social Info
                .team-social-info
                a(href='#')
                    i.fa.fa-pinterest(aria-hidden='true')
                a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')
                a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')
                a(href='#')
                    i.fa.fa-dribbble(aria-hidden='true')
            // Single Team Slide
            .single-team-slide.text-center
                // Thumbnail
                .team-thumbnail
                img(src='img/bg-img/c-2.jpg', alt='')
                // Meta Info
                .team-meta-info
                h4 William Donovan
                span digital designer
                p Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque.
                // Social Info
                .team-social-info
                a(href='#')
                    i.fa.fa-pinterest(aria-hidden='true')
                a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')
                a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')
                a(href='#')
                    i.fa.fa-dribbble(aria-hidden='true')
    // ***** Features Area Start *****
    section.mosh-subscribe-newsletter-area.bg-img.bg-overlay-white.section_padding_100(style='background-image: url(img/bg-img/sub-1.jpg);')
    .container
        .row
        .col-12
            .subscribe-newsletter-content.text-center.wow.fadeIn(data-wow-delay='0.5s')
            p give us a shout
            h2 Subscribe to our newsletter
            form(action='#')
                input#Email(type='email', name='email', placeholder='Your e-mail here')
                button(type='submit') Subscribe
