extends layout
block content
    // ***** Breadcumb Area Start *****
    .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
    .container.h-100
        .row.h-100.align-items-center
        .col-12
            .bradcumbContent
            h2 Blog
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') The News
    // ***** Breadcumb Area End *****
    // ***** Blog Area Start *****
    section.blog-area.section_padding_100
    .container
        .row
        .col-12.col-md-8
            .mosh-blog-posts
            .row
                // Single Blog Start
                .col-12
                .single-blog.wow.fadeInUp(data-wow-delay='0.2s')
                    // Post Thumb
                    .blog-post-thumb
                    img(src='img/blog-img/1.jpg', alt='')
                    // Post Meta
                    .post-meta
                    h6
                        | By 
                        a(href='#') Lore Papp,
                        a(href='#') October 22, 2017,
                        a(href='#') Uncategorized,
                        a(href='#') 3 Comments
                    // Post Title
                    h2 The best November Design Inspiration
                    // Post Excerpt
                    p
                    | Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am. Quisque luctus lorem eu massa ornare, ac posuere massa finibus. Pellentesque varius dui quis feugiat sodales. Fusce varius arcu sed massa convallis malesuada. Pellentesque interdum lorem a leo cursus, non aliquet ante tincidunt.
                    // Read More btn
                    a(href='#') Read More
                // Single Blog Start
                .col-12
                .single-blog.wow.fadeInUp(data-wow-delay='0.7s')
                    // Post Meta
                    .post-meta
                    h6
                        | By 
                        a(href='#') Lore Papp,
                        a(href='#') October 22, 2017,
                        a(href='#') Uncategorized,
                        a(href='#') 3 Comments
                    // Post Title
                    h2 News about the New Yourk Design Conference
                    // Post Excerpt
                    p
                    | Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am. Quisque luctus lorem eu massa ornare, ac posuere massa finibus. Pellentesque varius dui quis feugiat sodales. Fusce varius arcu sed massa convallis malesuada. Pellentesque interdum lorem a leo cursus, non aliquet ante tincidunt.
                    // Read More btn
                    a(href='#') Read More
                // Single Blog Start
                .col-12
                .single-blog.wow.fadeInUp(data-wow-delay='1.2s')
                    // Post Thumb
                    .blog-post-thumb
                    img(src='img/blog-img/2.jpg', alt='')
                    // Post Meta
                    .post-meta
                    h6
                        | By 
                        a(href='#') Lore Papp,
                        a(href='#') October 22, 2017,
                        a(href='#') Uncategorized,
                        a(href='#') 3 Comments
                    // Post Title
                    h2 The best November Design Inspiration
                    // Post Excerpt
                    p
                    | Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am. Quisque luctus lorem eu massa ornare, ac posuere massa finibus. Pellentesque varius dui quis feugiat sodales. Fusce varius arcu sed massa convallis malesuada. Pellentesque interdum lorem a leo cursus, non aliquet ante tincidunt.
                    // Read More btn
                    a(href='#') Read More
                // Single Blog Start
                .col-12
                .single-blog.wow.fadeInUp(data-wow-delay='1.7s')
                    // Post Thumb
                    .blog-post-thumb
                    img(src='img/blog-img/3.jpg', alt='')
                    // Post Meta
                    .post-meta
                    h6
                        | By 
                        a(href='#') Lore Papp,
                        a(href='#') October 22, 2017,
                        a(href='#') Uncategorized,
                        a(href='#') 3 Comments
                    // Post Title
                    h2 The best November Design Inspiration
                    // Post Excerpt
                    p
                    | Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am. Quisque luctus lorem eu massa ornare, ac posuere massa finibus. Pellentesque varius dui quis feugiat sodales. Fusce varius arcu sed massa convallis malesuada. Pellentesque interdum lorem a leo cursus, non aliquet ante tincidunt.
                    // Read More btn
                    a(href='#') Read More
            // Pagination Area Start
            .mosh-pagination-area
            nav
                ul.pagination
                li.page-item.active
                    a.page-link(href='#') 1.
                li.page-item
                    a.page-link(href='#') 2.
                li.page-item
                    a.page-link(href='#') 3.
        .col-12.col-md-4
            .mosh-blog-sidebar
            .blog-post-search-widget.mb-100
                form(action='#')
                input#Search(type='search', name='search')
                button(type='submit')
                    i.fa.fa-search(aria-hidden='true')
            .blog-post-archives.mb-100
                h5 Archives
                ul
                li
                    a(href='#') March 2018
                li
                    a(href='#') April 2018
                li
                    a(href='#') May 2018
            .blog-post-categories.mb-100
                h5 Categories
                ul
                li
                    a(href='#') Entertaiment
                li
                    a(href='#') Business & Finance
                li
                    a(href='#') Technology
                li
                    a(href='#') Creative fields
                li
                    a(href='#') Lifestyle & Travel
                li
                    a(href='#') Uncategorized
            .latest-blog-posts.mb-100
                h5 Latest Posts
                // Single Latest Blog Post
                .single-latest-blog-post.d-flex
                .latest-blog-post-thumb
                    img(src='img/blog-img/lb-1.jpg', alt='')
                .latest-blog-post-content
                    h6
                    a(href='#') A simple blog post
                    .post-meta
                    h6
                        | By 
                        a(href='#') Jane Smith
                        | /
                        a(href='#') Aug 25, 2016
                // Single Latest Blog Post
                .single-latest-blog-post.d-flex
                .latest-blog-post-thumb
                    img(src='img/blog-img/lb-2.jpg', alt='')
                .latest-blog-post-content
                    h6
                    a(href='#') A new way to see things in design
                    .post-meta
                    h6
                        | By 
                        a(href='#') Jane Smith
                        | /
                        a(href='#') Aug 25, 2016
                // Single Latest Blog Post
                .single-latest-blog-post.d-flex
                .latest-blog-post-thumb
                    img(src='img/blog-img/lb-3.jpg', alt='')
                .latest-blog-post-content
                    h6
                    a(href='#') This is just a blog post
                    .post-meta
                    h6
                        | By 
                        a(href='#') Jane Smith
                        | /
                        a(href='#') Aug 25, 2016
                // Single Latest Blog Post
                .single-latest-blog-post.d-flex
                .latest-blog-post-thumb
                    img(src='img/blog-img/lb-4.jpg', alt='')
                .latest-blog-post-content
                    h6
                    a(href='#') Make a good investment in 2018
                    .post-meta
                    h6
                        | By 
                        a(href='#') Jane Smith
                        | /
                        a(href='#') Aug 25, 2016
            .instagram-feeds
                h5 Instagram
                ul
                li
                    a(href='#')
                    img(src='img/blog-img/ins-1.jpg', alt='')
                li
                    a(href='#')
                    img(src='img/blog-img/ins-2.jpg', alt='')
                li
                    a(href='#')
                    img(src='img/blog-img/ins-3.jpg', alt='')
                li
                    a(href='#')
                    img(src='img/blog-img/ins-4.jpg', alt='')
                li
                    a(href='#')
                    img(src='img/blog-img/ins-5.jpg', alt='')
                li
                    a(href='#')
                    img(src='img/blog-img/ins-6.jpg', alt='')
    // ***** Blog Area End *****
