block content
    // ***** Breadcumb Area Start *****
    .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
    .container.h-100
        .row.h-100.align-items-center
        .col-12
            .bradcumbContent
            h2 Elements
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Elements
    // ***** Breadcumb Area End *****
    // ***** Elements Area Start *****
    section.elements-area.section_padding_100
    .container
        .row
        // ========== Buttons ==========
        .col-12
            .elements-title
            h2 Buttons
            // Selene Button
            .mosh-buttons-area.mb-100
            a.btn.mosh-btn(href='#') Discover More
            a.btn.mosh-btn.mosh-btn-2(href='#') Discover More
            a.btn.mosh-btn.mosh-btn-3(href='#') Discover More
        // ========== Progress Bars & Accordions ==========
        .col-12
            .elements-title
            h2 Progress Bars & Accordions
        .col-12.col-md-6
            // Progress Bar Content Area
            .services-progress-bar.mb-100
            // Single Progress Bar
            .single_progress_bar
                p Development
                #bar1.barfiller
                .tipWrap
                    span.tip
                span.fill(data-percentage='70')
            // Single Progress Bar
            .single_progress_bar
                p Design
                #bar2.barfiller
                .tipWrap
                    span.tip
                span.fill(data-percentage='90')
            // Single Progress Bar
            .single_progress_bar
                p SEO
                #bar3.barfiller
                .tipWrap
                    span.tip
                span.fill(data-percentage='70')
        .col-12.col-md-6
            #accordion.accordions.mb-100(role='tablist', aria-multiselectable='true')
            // single accordian area start
            .panel.single-accordion
                h6
                a.collapsed(role='button', aria-expanded='true', aria-controls='collapseOne', data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                    | Curabitur pulvinar vel augue sit amet vestibulum
                    span.accor-open
                    i.fa.fa-plus(aria-hidden='true')
                    span.accor-close
                    i.fa.fa-minus(aria-hidden='true')
                #collapseOne.accordion-content.collapse
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis laudantium, deserunt esse, aspernatur, laborum ipsa necessitatibus dolor architecto sint minima suscipit. Blanditiis perspiciatis animi ipsam, officia modi aperiam aut temporibus.
            // single accordian area start
            .panel.single-accordion
                h6
                a.collapsed(role='button', aria-expanded='true', aria-controls='collapseTwo', data-parent='#accordion', data-toggle='collapse', href='#collapseTwo')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing
                    span.accor-open
                    i.fa.fa-plus(aria-hidden='true')
                    span.accor-close
                    i.fa.fa-minus(aria-hidden='true')
                #collapseTwo.accordion-content.collapse
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit odio, voluptatem dolor possimus maxime sint debitis id vel numquam, porro aperiam eos distinctio optio perspiciatis officia, quisquam repellendus tenetur!
            // single accordian area start
            .panel.single-accordion
                h6
                a.collapsed(role='button', aria-expanded='true', aria-controls='collapseThree', data-parent='#accordion', data-toggle='collapse', href='#collapseThree')
                    | Donec scelerisque ante id efficitur pharetra 
                    span.accor-open
                    i.fa.fa-plus(aria-hidden='true')
                    span.accor-close
                    i.fa.fa-minus(aria-hidden='true')
                #collapseThree.accordion-content.collapse
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus repudiandae nam ad corrupti illo pariatur inventore ratione reiciendis quidem soluta exercitationem, incidunt, expedita, cupiditate perspiciatis debitis temporibus qui. Culpa, facere.
        // ========== Loaders ==========
        .col-12
            .elements-title
            h2 Loaders
        .col-12
            // Loaders Area Start
            .our-skills-area.text-center.mb-100
            .row
                .col-12.col-sm-6.col-md-3
                .single-pie-bar.m-bottom-30(data-percent='75')
                    canvas.bar-circle(width='70', height='70')
                    h6 Awesome
                    p Etiam nec odio
                .col-12.col-sm-6.col-md-3
                .single-pie-bar.m-bottom-30(data-percent='83')
                    canvas.bar-circle(width='70', height='70')
                    h6 Creative
                    p Etiam nec odio
                .col-12.col-sm-6.col-md-3
                .single-pie-bar.m-bottom-30(data-percent='25')
                    canvas.bar-circle(width='70', height='70')
                    h6 Lazy
                    p Etiam nec odio
                .col-12.col-sm-6.col-md-3
                .single-pie-bar.m-bottom-30(data-percent='75')
                    canvas.bar-circle(width='70', height='70')
                    h6 Outstanding
                    p Etiam nec odio
        // ========== Milestones ==========
        .col-12
            .elements-title
            h2 Milestones
        .col-12
            .mosh-cool-facts-area.mb-100
            .row
                // Single Cool Fact
                .col-12.col-sm-6.col-md-3
                .single-cool-fact
                    .counter-area
                    h3
                        span.counter 14
                    .cool-facts-content
                    p Years of Experience
                // Single Cool Fact
                .col-12.col-sm-6.col-md-3
                .single-cool-fact
                    .counter-area
                    h3
                        | +
                        span.counter 1000
                    .cool-facts-content
                    p Happy Clients
                // Single Cool Fact
                .col-12.col-sm-6.col-md-3
                .single-cool-fact
                    .counter-area
                    h3
                        span.counter 14
                        | k
                    .cool-facts-content
                    p Followers on FB
                // Single Cool Fact
                .col-12.col-sm-6.col-md-3
                .single-cool-fact
                    .counter-area
                    h3
                        span.counter 732
                    .cool-facts-content
                    p Finished Projects
        // ========== Icon Boxes ==========
        .col-12
            .elements-title
            h2 Icon boxes
        .col-12
            .row
            // Single Feature Area
            .col-12.col-sm-6.col-md-4
                .single-feature-area.d-flex
                .feature-icon.mr-30
                    img(src='img/core-img/trophy.png', alt='')
                .feature-content
                    h5 No1 in Sales!
                    p Etiam nec odio vestibulum est mat tis effic iturut magna.
            // Single Feature Area
            .col-12.col-sm-6.col-md-4
                .single-feature-area.d-flex
                .feature-icon.mr-30
                    img(src='img/core-img/edit.png', alt='')
                .feature-content
                    h5 Documentation inside
                    p Etiam nec odio vestibulum est mat tis effic iturut magna.
            // Single Feature Area
            .col-12.col-sm-6.col-md-4
                .single-feature-area.d-flex
                .feature-icon.mr-30
                    img(src='img/core-img/video-camera.png', alt='')
                .feature-content
                    h5 Modern Design
                    p Etiam nec odio vestibulum est mat tis effic iturut magna.
    // ***** Elements Area End *****
