block content
    .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
    // ***** Portfolio Area Start *****
    section.mosh-portfolio-area.section_padding_100
    .container
        .row
        .col-12
            .mosh-projects-menu
            .portfolio-menu
                p.active(data-filter='*') All
                p(data-filter='.gd') Graphic Design
                p(data-filter='.bi') Brand Identity
                p(data-filter='.pho') Photography
                p(data-filter='.wd') Web Design
                p(data-filter='.pc') Printing Colaterall
    .mosh-portfolio
        // Single gallery Item Start
        .single_gallery_item.gd
        img(src='img/portfolio-img/1.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.bi
        img(src='img/portfolio-img/2.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.gd.bi
        img(src='img/portfolio-img/3.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pho
        img(src='img/portfolio-img/4.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pho
        img(src='img/portfolio-img/5.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.wd.pc
        img(src='img/portfolio-img/6.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.wd
        img(src='img/portfolio-img/7.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pc
        img(src='img/portfolio-img/8.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pc
        img(src='img/portfolio-img/9.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pc
        img(src='img/portfolio-img/10.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pc
        img(src='img/portfolio-img/11.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pc
        img(src='img/portfolio-img/12.jpg', alt='')
        .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
            h4 DFR Corp. Branding
            a(href='#') Brand Identity
    // Discover More btn
    .col-12.text-center.mt-100
        a.btn.mosh-btn(href='#') Load More
    // ***** Portfolio Area End *****
