block content
    // ***** Breadcumb Area Start *****
    .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
    .container.h-100
        .row.h-100.align-items-center
        .col-12
            .bradcumbContent
            h2 Services
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') what we offer
    // ***** Breadcumb Area End *****
    // ***** Services Area Start *****
    section.mosh--services-area.section_padding_100
    .container
        .row
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/trophy.png', alt='')
            .feature-content
                h4 No1 in Sales!
                p Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/edit.png', alt='')
            .feature-content
                h4 Documentation inside
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/video-camera.png', alt='')
            .feature-content
                h4 Modern Design
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/presentation.png', alt='')
            .feature-content
                h4 Marketing Strategist
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/gamepad.png', alt='')
            .feature-content
                h4 Play with colors
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/atomic.png', alt='')
            .feature-content
                h4 Mix & Match
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/safebox.png', alt='')
            .feature-content
                h4 Worth the money
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/settings-2.png', alt='')
            .feature-content
                h4 Modern elements
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        // Single Feature Area
        .col-12.col-sm-6.col-md-4
            .single-feature-area.d-flex.mb-100
            .feature-icon.mr-30
                img(src='img/core-img/alarm-clock.png', alt='')
            .feature-content
                h4 24 Hours support
                p Etiam nec odio vestibulum est mat tis effic iturut magna.
        .row
        .col-12.text-center
            a.btn.mosh-btn(href='#') Read More
    // ***** Services Area End *****
    // ***** Testimonials Area Start *****
    section.mosh-clients-testimonials-area.section_padding_100
    .container
        .row
        .col-12
            .section-heading.text-center
            p What they say
            h2 Client’s testimonials
        .row
        .col-12
            .testimonials-slides.owl-carousel
            // Single Testimonial Area
            .single-testimonial-area.text-center
                // Testimonial Content
                .testimonial-content
                span "
                p
                    | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit.
                // Testimonial Meta Data
                .testimonials-meta
                .testimonial-thumb.bg-img(style='background-image: url(img/bg-img/c-1.jpg);')
                h6 Jim Morison
                p Company CEO
            // Single Testimonial Area
            .single-testimonial-area.text-center
                // Testimonial Content
                .testimonial-content
                span "
                p
                    | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit.
                // Testimonial Meta Data
                .testimonials-meta
                .testimonial-thumb.bg-img(style='background-image: url(img/bg-img/c-2.jpg);')
                h6 Jim Morison
                p Company CEO
            // Single Testimonial Area
            .single-testimonial-area.text-center
                // Testimonial Content
                .testimonial-content
                span "
                p
                    | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit.
                // Testimonial Meta Data
                .testimonials-meta
                .testimonial-thumb.bg-img(style='background-image: url(img/bg-img/c-3.jpg);')
                h6 Jim Morison
                p Company CEO
            // Single Testimonial Area
            .single-testimonial-area.text-center
                // Testimonial Content
                .testimonial-content
                span "
                p
                    | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit.
                // Testimonial Meta Data
                .testimonials-meta
                .testimonial-thumb.bg-img(style='background-image: url(img/bg-img/c-2.jpg);')
                h6 Jim Morison
                p Company CEO
    // ***** Testimonials Area End *****
    // ***** Cool Facts Area Start *****
    section.mosh-cool-facts-area.service-page.bg-img.section_padding_100(style='background-image: url(img/core-img/breadcumb.png);')
    .container
        .row
        // Single Cool Fact
        .col-12.col-sm-6.col-md-3
            .single-cool-fact
            .counter-area
                h3
                span.counter 14
            .cool-facts-content
                p Years of Experience
        // Single Cool Fact
        .col-12.col-sm-6.col-md-3
            .single-cool-fact
            .counter-area
                h3
                | +
                span.counter 1000
            .cool-facts-content
                p Happy Clients
        // Single Cool Fact
        .col-12.col-sm-6.col-md-3
            .single-cool-fact
            .counter-area
                h3
                span.counter 14
                | k
            .cool-facts-content
                p Followers on FB
        // Single Cool Fact
        .col-12.col-sm-6.col-md-3
            .single-cool-fact
            .counter-area
                h3
                span.counter 732
            .cool-facts-content
                p Finished Projects
    // ***** Cool Facts Area End *****
    // ***** Service Skills Area Start *****
    section.service-skills-area.section_padding_100
    .container
        .row
        .col-12.col-md-6
            .row
            .col-6
                .single-pie-bar.text-center.mb-100(data-percent='75')
                canvas.bar-circle(width='70', height='70')
                h6 Awesome
                p Etiam nec odio
            .col-6
                .single-pie-bar.text-center.mb-100(data-percent='83')
                canvas.bar-circle(width='70', height='70')
                h6 Creative
                p Etiam nec odio
            .col-6
                .single-pie-bar.text-center.mb-100(data-percent='25')
                canvas.bar-circle(width='70', height='70')
                h6 Lazy
                p Etiam nec odio
            .col-6
                .single-pie-bar.text-center.mb-100(data-percent='75')
                canvas.bar-circle(width='70', height='70')
                h6 Outstanding
                p Etiam nec odio
        .col-12.col-md-6
            .service-skills-content
            .section-heading
                p Features
                h2 What you get if you start your business with us
            .skills-text.d-flex
                p
                | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul. Nec odio vestibulum est mattis effic iturut magna. Pellente sque sita met tellus blandit.
                p
                | Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul. Nec odio vestibulum est mattis effic iturut magna. Pellente sque sita met tellus blandit. Etiam nec odio. Etiam nec odio vestibulum est mattis effic.
    // ***** Service Skills Area End *****
    section.mosh-subscribe-newsletter-area.bg-img.bg-overlay-white.section_padding_100(style='background-image: url(img/bg-img/sub-1.jpg);')
    .container
        .row
        .col-12
            .subscribe-newsletter-content.text-center.wow.fadeInRightBig(data-wow-delay='.5s')
            p give us a shout
            h2 Subscribe to our newsletter
            form(action='#')
                input#Email(type='email', name='email', placeholder='Your e-mail here')
                button(type='submit') Subscribe
