extends layout
block content
    // ***** Breadcumb Area Start *****
    .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
      .container.h-100
        .row.h-100.align-items-center
          .col-12
            .bradcumbContent
              h2 Contact
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(href='#') Home
                  li.breadcrumb-item.active(aria-current='page') Say Hello
    // ***** Breadcumb Area End *****
    // ***** Contact Area Start *****
    section.contact-area.section_padding_100
      .container
        .row
          // Contact Form Area
          .col-12.col-md-8
            .contact-form-area
              h2 Get in touch
              form(action='#')
                .row
                  .col-12.col-md-6
                    input#name.form-control(type='text', placeholder='Name')
                  .col-12.col-md-6
                    input#email.form-control(type='email', placeholder='E-mail')
                  .col-12
                    input#subject.form-control(type='text', placeholder='Subject')
                  .col-12
                    textarea#message.form-control(name='message', cols='30', rows='10', placeholder='Message')
                  button.btn.mosh-btn.mt-50(type='submit') Send Message
          // Contact Information
          .col-12.col-md-4
            .contact-information
              h2 Contact
              .single-contact-info.d-flex
                .contact-icon.mr-15
                  img(src='img/core-img/map.png', alt='')
                p
                  | 4127/ 5B-C Mislane Road,
                  br
                  |  Gibraltar, UK
              .single-contact-info.d-flex
                .contact-icon.mr-15
                  img(src='img/core-img/call.png', alt='')
                p
                  | Main: 203-808-8613 
                  br
                  |  Office: 203-808-8648
              .single-contact-info.d-flex
                .contact-icon.mr-15
                  img(src='img/core-img/message.png', alt='')
                p office@yourbusiness.com
              .contact-social-info.mt-50
                a(href='#')
                  i.fa.fa-pinterest(aria-hidden='true')
                a(href='#')
                  i.fa.fa-facebook(aria-hidden='true')
                a(href='#')
                  i.fa.fa-twitter(aria-hidden='true')
                a(href='#')
                  i.fa.fa-dribbble(aria-hidden='true')
                a(href='#')
                  i.fa.fa-behance(aria-hidden='true')
                a(href='#')
                  i.fa.fa-linkedin(aria-hidden='true')
    // ***** Contact Area End *****
    // Google Maps
    .map-area
      #googleMap
    