extends layout

block content
  // ***** Breadcumb Area Start *****
  .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
    .container.h-100
      .row.h-100.align-items-center
        .col-12
          .bradcumbContent
            h2 Page #{message}
            nav(aria-label='breadcrumb')
              ol.breadcrumb
                li.breadcrumb-item Status
                li.breadcrumb-item #{error.status}
              p 
                // pre #{test}
    // ***** Breadcumb Area End *****
