block footer
    // ***** Footer Area Start *****
    footer.footer-area.clearfix
      // Top Fotter Area
      .top-footer-area.section_padding_100_0
        .container
          .row
            .col-12.col-sm-6.col-lg-3
              .single-footer-widget.mb-100
                a.mb-50.d-block(href='#')
                  img(src='/img/core-img/logo.png', alt='')
                p
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellent esque sit amet tellus blandit. Etiam nec odio vestibul.
            .col-12.col-sm-6.col-lg-3
              .single-footer-widget.mb-100
                h5 Fast links
                ul
                  li
                    a(href='#') Home
                  li
                    a(href='#') Testimonials
                  li
                    a(href='#') Services & Features
                  li
                    a(href='#') Accordions and tabs
                  li
                    a(href='#') Menu ideas
            .col-12.col-sm-6.col-lg-3
              .single-footer-widget.mb-100
                h5 Blog
                .footer-single--blog-post
                  a.blog-post-date(href='#')
                    p 23 September, 2017
                  a.blog-post-title(href='#')
                    h6 Why we love stock photos
                .footer-single--blog-post
                  a.blog-post-date(href='#')
                    p 22 September, 2017
                  a.blog-post-title(href='#')
                    h6 Designin on grid. A few rules. 
                .footer-single--blog-post
                  a.blog-post-date(href='#')
                    p 20 September, 2017
                  a.blog-post-title(href='#')
                    h6 2017 World Design Congress
            .col-12.col-sm-6.col-lg-3
              .single-footer-widget.mb-100
                h5 Contact Info
                .footer-single-contact-info.d-flex
                  .contact-icon
                    img(src='/img/core-img/map.png', alt='')
                  p 4127/ 5B-C Mislane Road, Gibraltar, UK
                .footer-single-contact-info.d-flex
                  .contact-icon
                    img(src='/img/core-img/call.png', alt='')
                  p
                    | Main: 203-808-8613 
                    br
                    |  Office: 203-808-8648
                .footer-single-contact-info.d-flex
                  .contact-icon
                    img(src='/img/core-img/message.png', alt='')
                  p office@yourbusiness.com
      // Fotter Bottom Area
      .footer-bottom-area
        .container.h-100
          .row.h-100
            .col-12.h-100
              .footer-bottom-content.h-100.d-md-flex.justify-content-between.align-items-center
                .copyright-text
                  p
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    | Copyright ©
                    script.
                      document.write(new Date().getFullYear());
                    |  All rights reserved | This template is made with 
                    i.fa.fa-heart-o(aria-hidden='true')
                    |  by 
                    a(href='https://colorlib.com', target='_blank') Colorlib
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                .footer-social-info
                  a(href='#')
                    i.fa.fa-pinterest(aria-hidden='true')
                  a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')
                  a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')
                  a(href='#')
                    i.fa.fa-dribbble(aria-hidden='true')
                  a(href='#')
                    i.fa.fa-behance(aria-hidden='true')
                  a(href='#')
                    i.fa.fa-linkedin(aria-hidden='true')
    // ***** Footer Area End *****
    // jQuery-2.2.4 js
    script(src='/js/jquery-2.2.4.min.js')
    // Popper js
    script(src='/js/popper.min.js')
    // Bootstrap js
    script(src='/js/bootstrap.min.js')
    // All Plugins js
    script(src='/js/plugins.js')
    // Active js
    script(src='/js/active.js')
