block header
    // ***** Preloader Start ***** 
    #preloader
      .mosh-preloader
    // ***** Header Area Start *****
    header.header_area.clearfix
      .container-fluid.h-100
        .row.h-100
          // Menu Area Start
          .col-12.h-100
            .menu_area.h-100
              nav.navbar.h-100.navbar-expand-lg.align-items-center
                // Logo
                a.navbar-brand(href='/')
                  img(src='/img/core-img/logo.png', alt='logo')
                // Menu Area
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mosh-navbar', aria-controls='mosh-navbar', aria-expanded='false', aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                #mosh-navbar.collapse.navbar-collapse.justify-content-end
                  ul#nav.navbar-nav.animated
                    li.nav-item.active
                      a.nav-link(href='/') หน้าหลัก
                    li.nav-item.dropdown
                      a#moshDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') สถานที่
                      .dropdown-menu(aria-labelledby='moshDropdown')
                        a.dropdown-item(href='nampook') น้ำปุก
                        a.dropdown-item(href='khunkhuan') ขุนควร
                        a.dropdown-item(href='pong') ปง
                        a.dropdown-item(href='phayao') พะเยา
                    li.nav-item
                      a.nav-link(href='lifestyle') วิถีชีวิต
                    li.nav-item
                      a.nav-link(href='attraction') แหล่งท่องเที่ยว
                    li.nav-item
                      a.nav-link(href='stay') ที่พัก
                    li.nav-item
                      a.nav-link(href='gallery') รูปภาพ
                    li.nav-item
                      a.nav-link(href='video') วีดิทัศน์
                    li.nav-item
                      a.nav-link(href='contact') ติดต่อ/การเดินทาง
                  // Search Form Area Start
                  .search-form-area.animated
                    form(action='#', method='post')
                      input#search(type='search', name='search', placeholder='บทความที่ต้องการค้นหา...')
                      button.d-none(type='submit')
                        img(src='/img/core-img/search-icon.png', alt='Search')
                  // Search btn
                  .search-button
                    a#search-btn(href='#')
                      img(src='/img/core-img/search-icon.png', alt='Search')
                  // Login/Register btn
                  .login-register-btn
                    a(href='#') 
                      img(src='/img/core-img/sign-in.png', alt='Sign-in')
    // ***** Header Area End *****
