extends layout
block content
    include subcontent0
    include subcontent2
    include subcontent3
    include subcontent4
    include subcontent5
    include subcontent6
    include subcontent7
    include subcontent8
