extends layout
block content
    // ***** Breadcumb Area Start *****
    .mosh-breadcumb-area(style='background-image: url(img/core-img/breadcumb.png);')
    include subcontent7
    include subcontent2
    include subcontent5
    