doctype html
html
  head
    link(rel='stylesheet', href='/style.css')
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
    // Title
    title Nampook | #{title}
    // Favicon
    link(rel='icon', href='/img/core-img/favicon.png')
    // Core Stylesheet
    link(href='/style.css', rel='stylesheet')
    // Responsive CSS
    link(href='/css/responsive.css', rel='stylesheet')
  body
    include header
    block content
    include footer
