block subcontent0
    // ***** Welcome Area Start *****
    section#home.welcome_area.clearfix(style='background-image: url(img/bg-img/welcome-bg.png)')
      .hero-slides.owl-carousel
        // Single Hero Slides
        .single-hero-slide.d-flex.align-items-end.justify-content-center
          .hero-slide-content.text-center
            h2 A Clean and Modern Template
            h4 Get your freebie template now!
            img.slide-img(src='img/bg-img/device.png', alt='')
        // Single Hero Slides
        .single-hero-slide.d-flex.align-items-end.justify-content-center
          .hero-slide-content.text-center
            h2 A Clean and Modern Template
            h4 Get your freebie template now!
            img.slide-img(src='img/bg-img/device.png', alt='')
    // ***** Welcome Area End *****
    