block subcontent7
    // ***** Workflow Area Start *****
    section.mosh-workflow-area.section_padding_100_0.clearfix
      .container
        .row
          .col-12
            .section-heading.text-center.mb-0
              p Our Work Flow
              h2 This is how we work on Projects
      .workflow-img
        img(src='img/core-img/work-progress.png', alt='')
      .workflow-slides-area
        .container
          .row
            .col-12
              .mosh-workflow-slides.owl-carousel
                // Single Service Area
                .single-workflow-area.d-flex
                  h2 1.
                  .workflow-content.ml-15
                    h4 This is the first step
                    p
                      | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
                // Single Service Area
                .single-workflow-area.d-flex
                  h2 2.
                  .workflow-content.ml-15
                    h4 This is the second step
                    p
                      | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
                // Single Service Area
                .single-workflow-area.d-flex
                  h2 3.
                  .workflow-content.ml-15
                    h4 This is the third step
                    p
                      | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
                // Single Service Area
                .single-workflow-area.d-flex
                  h2 4.
                  .workflow-content.ml-15
                    h4 This is the fourth step
                    p
                      | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
    // ***** Service Area End *****