block subcontent2
    // ***** Service Area Start *****
    section.mosh-service-area.clearfix
      .container
        .row
          .col-12
            .mosh-service-slides.owl-carousel
              // Single Service Area
              .single-service-area.text-center
                h2 01.
                h4 No1 in Sales!
                p
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
              // Single Service Area
              .single-service-area.text-center
                h2 02.
                h4 Online Marketing
                p
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
              // Single Service Area
              .single-service-area.text-center
                h2 03.
                h4 Modern Design
                p
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
              // Single Service Area
              .single-service-area.text-center
                h2 04.
                h4 No1 in Sales!
                p
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
              // Single Service Area
              .single-service-area.text-center
                h2 05.
                h4 Online Marketing
                p
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
              // Single Service Area
              .single-service-area.text-center
                h2 06.
                h4 Modern Design
                p
                  | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.
          // Discover More btn
          .col-12.text-center.mt-100
            a.btn.mosh-btn(href='#') Discover More
    // ***** Service Area End *****