block subcontent6
    // ***** Portfolio Area Start *****
    section.mosh-portfolio-area.section_padding_100_0.clearfix
      .container
        .row
          .col-12
            .section-heading.text-center
              p Our Work
              h2 See our Online Portfolio
      .mosh-projects-menu
        .text-center.portfolio-menu
          p.active(data-filter='*') All
          p(data-filter='.gd') Graphic Design
          p(data-filter='.bi') Brand Identity
          p(data-filter='.pho') Photography
          p(data-filter='.wd') Web Design
          p(data-filter='.pc') Printing Colaterall
      .mosh-portfolio
        // Single gallery Item Start
        .single_gallery_item.gd
          img(src='img/portfolio-img/1.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.bi
          img(src='img/portfolio-img/2.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.gd.bi
          img(src='img/portfolio-img/3.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pho
          img(src='img/portfolio-img/4.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pho
          img(src='img/portfolio-img/5.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.wd.pc
          img(src='img/portfolio-img/6.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.wd
          img(src='img/portfolio-img/7.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
        // Single gallery Item Start
        .single_gallery_item.pc
          img(src='img/portfolio-img/8.jpg', alt='')
          .gallery-hover-overlay.d-flex.align-items-center.justify-content-center
            .port-hover-text.text-center
              h4 DFR Corp. Branding
              a(href='#') Brand Identity
    // ***** Portfolio Area End *****