block subcontent8
    // ***** CTA Area Start *****
    section.mosh-call-to-action-area.bg-img.bg-overlay.section_padding_100(style='background-image: url(img/bg-img/cta.jpg);')
      .container
        .row
          .col-12
            .cta-content.text-center.wow.fadeIn(data-wow-delay='0.5s')
              .section-heading
                p give us a shout
                h2 Are you Ready to have a Talk?
                a.btn.mosh-btn(href='contact.html') Contact Us
    // ***** CTA Area End *****