block subcontent3
    // ***** Clients Area Start *****
    section.mosh-clients-area.section_padding_100.clearfix
      .container
        .row
          .col-12
            .section-heading.text-center
              p clients
              h2 All our clients love our work
          .col-12
            .clients-logo-area.d-sm-flex.align-items-center.justify-content-between
              a(href='#')
                img(src='img/clients-img/1.png', alt='')
              a(href='#')
                img(src='img/clients-img/2.png', alt='')
              a(href='#')
                img(src='img/clients-img/3.png', alt='')
              a(href='#')
                img(src='img/clients-img/4.png', alt='')
              a(href='#')
                img(src='img/clients-img/5.png', alt='')
    // ***** Clients Area End *****