block subcontent4
    // ***** Features Area Start *****
    section.mosh-features-area.section_padding_100.clearfix
      .container
        .row.justify-content-end
          .col-12.col-md-6
            .section-heading
              p clients
              h2 What you get if you start your business with us
            .features-content
              p
                | Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul. Nec odio vestibulum est mattis effic iturut magna. Pellente sque sita met tellus blandit. Etiam nec odio.
              // Progress Bar Content Area
              .features-progress-bar.mt-50
                // Single Progress Bar
                .single_progress_bar.mb-15.wow.fadeInUp(data-wow-delay='0.2s')
                  p Development
                  #bar1.barfiller
                    .tipWrap
                      span.tip
                    span.fill(data-percentage='70')
                // Single Progress Bar
                .single_progress_bar.mb-15.wow.fadeInUp(data-wow-delay='0.4s')
                  p Design
                  #bar2.barfiller
                    .tipWrap
                      span.tip
                    span.fill(data-percentage='90')
                // Single Progress Bar
                .single_progress_bar.mb-15.wow.fadeInUp(data-wow-delay='0.6s')
                  p SEO
                  #bar3.barfiller
                    .tipWrap
                      span.tip
                    span.fill(data-percentage='55')
      // Feature Thumb
      .features-img
        img(src='img/bg-img/features.png', alt='')
    // ***** Feature Area End *****