block subcontent5
    // ***** Service Area Start *****
    section.mosh-more-services-area.d-sm-flex.clearfix
      .single-more-service-area
        .more-service-content.text-center.wow.fadeInUp(data-wow-delay='.1s')
          img(src='img/core-img/trophy.png', alt='')
          h4 No1 in Sales!
          p Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am.
      .single-more-service-area
        .more-service-content.text-center.wow.fadeInUp(data-wow-delay='.4s')
          img(src='img/core-img/edit.png', alt='')
          h4 Documentation inside
          p Tiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am.
      .single-more-service-area
        .more-service-content.text-center.wow.fadeInUp(data-wow-delay='.7s')
          img(src='img/core-img/video-camera.png', alt='')
          h4 Modern Design
          p Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am.
      .single-more-service-area
        .more-service-content.text-center.wow.fadeInUp(data-wow-delay='1s')
          img(src='img/core-img/presentation.png', alt='')
          h4 Marketing Strategist
          p Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am.
    // ***** Service Area End *****