extends layout

block content
  // ***** Breadcumb Area Start *****
  .mosh-breadcumb-area(style='background-image: url(/img/core-img/breadcumb.png);')
    .container.h-100
      .row.h-100.align-items-center
        .col-12
          .bradcumbContent
            h2 #{title}
            nav(aria-label='breadcrumb')
              p #{test}
    // ***** Breadcumb Area End *****

